# Panda Series

In [4]:
import pandas as pd

In [5]:
a = pd.Series([1,2,3,4,5,7])

In [7]:
type(a)

pandas.core.series.Series

In [6]:
a

0    1
1    2
2    3
3    4
4    5
5    7
dtype: int64

In [7]:
a[5]

7

In [8]:
a = pd.Series(['a','b','c','d'])

In [9]:
a

0    a
1    b
2    c
3    d
dtype: object

In [10]:
type(a)

pandas.core.series.Series

In [8]:
a = pd.date_range(start='05-03-2018', end='05-15-2018')

In [21]:
a

DatetimeIndex(['2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06',
               '2018-05-07', '2018-05-08', '2018-05-09', '2018-05-10',
               '2018-05-11', '2018-05-12', '2018-05-13', '2018-05-14',
               '2018-05-15'],
              dtype='datetime64[ns]', freq='D')

In [22]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

# Panda DataFrames

In [9]:
import numpy as np

In [10]:
temp = np.random.randint(low=20, high=100, size = [20,])
name = np.random.choice(['minlatt','kyokyo','hppa','katsura','pyg',],20)
random = np.random.choice(['40','50','60','70','80','100'],20)

In [11]:
a = list(zip(temp,name,random))

In [12]:
dframe = pd.DataFrame(data=a, columns = ['temp','name','rands'])

In [13]:
dframe

    temp     name rands
0     80     hppa    80
1     58      pyg    80
2     43   kyokyo    40
3     61   kyokyo    40
4     26   kyokyo   100
5     72     hppa    70
6     68      pyg   100
7     34      pyg    40
8     77      pyg    50
9     43     hppa    70
10    74     hppa    80
11    92  katsura    60
12    55  katsura    80
13    63     hppa    40
14    86  minlatt    40
15    51     hppa    70
16    45   kyokyo    50
17    83   kyokyo    70
18    47  minlatt    70
19    66  minlatt    80

In [40]:
type(dframe)

pandas.core.frame.DataFrame

In [14]:
dframe = pd.DataFrame({'temps':temp, 'names':name, 'rands':random })

In [15]:
dframe

    temps    names rands
0      80     hppa    80
1      58      pyg    80
2      43   kyokyo    40
3      61   kyokyo    40
4      26   kyokyo   100
5      72     hppa    70
6      68      pyg   100
7      34      pyg    40
8      77      pyg    50
9      43     hppa    70
10     74     hppa    80
11     92  katsura    60
12     55  katsura    80
13     63     hppa    40
14     86  minlatt    40
15     51     hppa    70
16     45   kyokyo    50
17     83   kyokyo    70
18     47  minlatt    70
19     66  minlatt    80

In [49]:
type(dframe)

pandas.core.frame.DataFrame

In [50]:
dframe

    temps    names rands
0      74     hppa    60
1      45     hppa    80
2      99     hppa    50
3      66   kyokyo    80
4      48      pyg    70
5      96  katsura    40
6      96      pyg    50
7      90     hppa    40
8      43      pyg    40
9      81     hppa    70
10     65   kyokyo    50
11     90     hppa    50
12     82  katsura    50
13     55     hppa   100
14     36      pyg    60
15     90  katsura    50
16     55     hppa    40
17     72     hppa    40
18     45     hppa    60
19     73  katsura    80

In [51]:
type(dframe)

pandas.core.frame.DataFrame

In [53]:
dframe.head()

   temps   names rands
0     74    hppa    60
1     45    hppa    80
2     99    hppa    50
3     66  kyokyo    80
4     48     pyg    70

In [55]:
dframe.shape

(20, 3)

In [56]:
dframe.columns

Index(['temps', 'names', 'rands'], dtype='object')

In [58]:
dframe.names

0        hppa
1        hppa
2        hppa
3      kyokyo
4         pyg
5     katsura
6         pyg
7        hppa
8         pyg
9        hppa
10     kyokyo
11       hppa
12    katsura
13       hppa
14        pyg
15    katsura
16       hppa
17       hppa
18       hppa
19    katsura
Name: names, dtype: object

In [16]:
dframe.rands

0      80
1      80
2      40
3      40
4     100
5      70
6     100
7      40
8      50
9      70
10     80
11     60
12     80
13     40
14     40
15     70
16     50
17     70
18     70
19     80
Name: rands, dtype: object

In [60]:
dframe['names']

0        hppa
1        hppa
2        hppa
3      kyokyo
4         pyg
5     katsura
6         pyg
7        hppa
8         pyg
9        hppa
10     kyokyo
11       hppa
12    katsura
13       hppa
14        pyg
15    katsura
16       hppa
17       hppa
18       hppa
19    katsura
Name: names, dtype: object

In [68]:
dframe['rands']

0      60
1      80
2      50
3      80
4      70
5      40
6      50
7      40
8      40
9      70
10     50
11     50
12     50
13    100
14     60
15     50
16     40
17     40
18     60
19     80
Name: rands, dtype: object

In [71]:
dframe['rands'].describe()

count     20
unique     6
top       50
freq       6
Name: rands, dtype: object

In [22]:
dframe['temps'].describe()

count    20.000000
mean     61.200000
std      18.141549
min      26.000000
25%      46.500000
50%      62.000000
75%      74.750000
max      92.000000
Name: temps, dtype: float64

In [76]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
temps    20 non-null int64
names    20 non-null object
rands    20 non-null object
dtypes: int64(1), object(2)
memory usage: 560.0+ bytes

In [17]:
dframe.values

array([[80, 'hppa', '80'],
       [58, 'pyg', '80'],
       [43, 'kyokyo', '40'],
       [61, 'kyokyo', '40'],
       [26, 'kyokyo', '100'],
       [72, 'hppa', '70'],
       [68, 'pyg', '100'],
       [34, 'pyg', '40'],
       [77, 'pyg', '50'],
       [43, 'hppa', '70'],
       [74, 'hppa', '80'],
       [92, 'katsura', '60'],
       [55, 'katsura', '80'],
       [63, 'hppa', '40'],
       [86, 'minlatt', '40'],
       [51, 'hppa', '70'],
       [45, 'kyokyo', '50'],
       [83, 'kyokyo', '70'],
       [47, 'minlatt', '70'],
       [66, 'minlatt', '80']], dtype=object)

In [29]:
dframe

         names rands
temps
80        hppa    80
58         pyg    80
43      kyokyo    40
61      kyokyo    40
26      kyokyo   100
72        hppa    70
68         pyg   100
34         pyg    40
77         pyg    50
43        hppa    70
74        hppa    80
92     katsura    60
55     katsura    80
63        hppa    40
86     minlatt    40
51        hppa    70
45      kyokyo    50
83      kyokyo    70
47     minlatt    70
66     minlatt    80

In [35]:
dframe.head()

        names rands
temps
80       hppa    80
58        pyg    80
43     kyokyo    40
61     kyokyo    40
26     kyokyo   100

In [40]:
dframe.iloc[[0,3]]

        names rands
temps
80       hppa    80
61     kyokyo    40